.productThumb {
    background-image: url("/images/product/image-product-1-thumbnail.jpg");
    background-position: center;
    background-size: contain;
    display: block;

    width: 50px;
    height: 50px;
}
