@import "@/styles/variables";

@media screen and (min-width: $breakpoint-lg) {
    .sectionDivider {
        // Dimensioning
        height: 1px;
        // Spacing
        margin-top: 0.5rem;
        margin-bottom: 90px;
        margin-left: var(--margin-lg-nav);
        margin-right: var(--margin-lg-nav);
    }
}
