@import "@/styles/variables";

.productGallery {
    display: none;
}

@media screen and (min-width: $breakpoint-lg) {
    .productGallery {
        display: block;
        // Spacing
        margin-left: 48px;
        margin-right: 125px;

        max-width: 30%;

        // Selecting child
        &__highlighted {
            flex-basis: 445px;
        }
        // Applying to all images in the component
        &__highlighted {
            border-radius: 10px;

            // To add the hover filter
            &:hover {
                opacity: 50%;
                transition: opacity 0.3s ease;

                cursor: pointer;
            }
        }
    }

    .imageClicked {
        // For the outline when selected
        outline: var(--primary-orange) solid 2px;
        opacity: 50%;
    }
}
