@import "@/styles/variables";

.productArticle,
.pricing {
    // "Global" dimensioning
    margin: var(--global-margin);
    // Typography
    font-weight: bold;

    & > * {
        margin-bottom: 1rem;
    }
}

.productArticle {
    &__brandName {
        // Styling
        color: var(--secondary-text-grey);
        // Typography
        font-size: 12px;
        letter-spacing: 1.85px;
        text-transform: uppercase;
    }
    &__title {
        // Styling
        color: var(--primary-text-black);
        // Typography
        font-size: 28px;
        line-height: 32px;

        margin-top: 0.5rem;
    }
    &__description {
        // Styling
        color: var(--secondary-text-grey);
        // Typography
        font-size: 15px;
        line-height: 25px;
        font-weight: normal;
    }
}

.pricing {
    // Flex
    display: flex;
    justify-content: space-between;
    // Dimensioning
    height: 100%;
    // Positioning
    align-items: center;
    justify-items: center;
    // Spacing
    margin-bottom: 0;

    &__finalPrice {
        font-size: 28px;
    }
    &__discount {
        // Styling
        background-color: var(--primary-text-black);
        color: white;
        // Dimensioning
        height: 27px;
        padding: 3.5px 9.5px 3.5px 9.5px;
        // Form
        border-radius: 8px;

        margin-right: 4rem;
    }
    &__fullPrice {
        // Styling
        color: var(--secondary-text-grey);
        line-height: 26px;
        text-decoration: line-through;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .productInfo {
        margin-top: 62px;
    }

    .productArticle,
    .pricing {
        // To overwride the margin from mobile
        margin: 0px;

        & > * {
            margin-bottom: 0px;
        }
    }

    .productArticle {
        &__brandName {
            // Styling
            color: var(--secondary-text-grey);
            // Typography
            font-size: 13px;
            letter-spacing: 2px;
        }
        &__title {
            // Typography
            font-size: 44px;
            line-height: 48px;

            margin-top: 24px;
        }
        &__description {
            // Typography
            font-size: 16px;
            line-height: 26px;
            // Spacing
            margin-top: 32px;
        }
    }

    .pricing {
        // Flex
        column-gap: 0.5rem;
        justify-content: flex-start;
        // Dimensioning
        height: auto;
        // Spacing
        margin-top: 28px;

        flex-wrap: wrap;

        &__fullPrice {
            // Styling
            color: var(--secondary-text-grey);
            line-height: 26px;
            text-decoration: line-through;

            flex-basis: 100%;
        }
    }
}
