.productSwiper {
    // Background
    background-image: url("/images/product/image-product-1.jpg");
    background-size: cover;
    background-position: center;

    display: block;
    // Dimensioning
    width: 100vw;
    height: 300px;
}
