.iconShoppingMinus {
    // Background
    background-image: url("./icon-minus.svg");
    background-position: center;
    background-repeat: no-repeat;
    // Dimensioning
    height: 12px;
    width: 12px;

    display: block;
}
